@model movieAdvisor.Models.MovieShow

@{
    ViewBag.Title = "Информация";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('poster').click(function () {
            echo('hi');
            var o = $(this).parent();
            var url = o.find('img').attr('src');
            var html = '<a href="#" class="clone"><img src="' + url + '" /></a>'
            o.append(html);
            o = o.find('.clone');
            o.animate({ width: '200%', height: '200%' });
            o.click(function () {
                $(this).remove();
            });
        });
    });
</script>

<h2>Информация</h2>

<table width="100%">
        <tr>
            <td width="100%" align="center">
                <div class="editor-label">
                    <h2>@Model.movie.TITLE</h2>
                </div>
            </td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td width="90%" valign="top">
                <table width="100%" valign="top">
                    <tr valign="top">
                        <td width="20%" align="center">
                            <div class="editor-poster" >
                                @{
                                    @:<img id="poster" src="@Url.Content("~/Uploads/" + Model.poster)"/ width="185" height="273" alt="@Model.altPoster">
                                }
                            </div>
                        </td>
                        <td width="80%">
                            <div class="editor-description">
                                <p>
                                    Описание:
                                </p>
                                <p>
                                    @Model.movie.DESCRIPTION
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        Кадры из фильма:
                        </td>
                    </tr>
                    <tr valign="top">
                    <td colspan=2 align="center">
                        <div class="editor-glarey" style="display:inline" >
                            @{
                                foreach(var pic in Model.picturesList)
                                {
                                    <div class="editor-photo" style="display:inline" >
                                       <img id="photo" src="@Url.Content("~/Uploads/" + pic.PATH)"/ width="160" height="120" alt="@pic.TITLE">                          
                                    </div>
                                }
                            }
                        </div>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            Отзывы:
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan=2 width="100%">
                            <table width="100%">
                                @{
                                    foreach(var comment in Model.comments)
                                    {
                                       <tr>
                                           <td valign="top">
                                               @comment.USERS.USERNAME
                                           </td>
                                           <td width="100%">
                                               <table width="100%">
                                                   <tr>
                                                       <td width="100%">
                                                       Дата:
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td>
                                                       @comment.TEXT
                                                       </td>
                                                   </tr>
                                               </table>
                                           </td>
                                       </tr> 
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" colspan=2 align=center>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("AddComment", "Movies", FormMethod.Get ,new { width = "100%" }))
                                    {
                                        @:Оставить отзыв:
                                        <textarea rows="5" id = "commentText" name="commentText" style="width:100%"></textarea>
                                        <br />
                                        <input type=hidden id = "movieId" name="movieId" value=@(Model.movie.ID) />
                                        <input type=submit title="Оставить" align="right" />
                                    }
                                }
                                else
                                {
                                    @:Что-бы оставить отзыв, авторизируйтесь.
                                }
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10%" align="center" valign="top">
                <div class="editor-persons">
                    @{
                        if (Model.directorsList.Count > 1)
                        {
                            <div class="editor-label">
                                 Режиссеры:
                            </div>
                        }
                        else
                            if (Model.directorsList.Count > 0)
                            {
                                <div class="editor-label">
                                     Режиссер:
                                </div>
                            }

                        foreach (var direct in Model.directorsList)
                        {
                            <div class="editor-poster" >
                                @{
                                    @:<img id="person" src="@Url.Content("~/Uploads/" + direct.picture.PATH)"/ width="90" height="130" alt="@direct.picture.TITLE">
                                }
                            </div>
                            <div class="editor-label">
                                 @Html.ActionLink(direct.person.NAME, "Show", "Persons", new { id = direct.person.ID }, null)
                            </div>
                        }

                        if (Model.actorsList.Count > 1)
                        {
                            <div class="editor-label">
                                 Актеры:
                            </div>
                        }
                        else
                            if (Model.actorsList.Count > 0)
                            {
                            <div class="editor-label">
                                 Актер:
                            </div>
                            }

                        foreach (var actor in Model.actorsList)
                        {
                            <div class="editor-poster" >
                                @{
                                    @:<img id="person" src="@Url.Content("~/Uploads/" + actor.picture.PATH)"/ width="90" height="130" alt="@actor.picture.TITLE">
                                }
                            </div>
                            <div class="editor-label">
                                @Html.ActionLink(actor.person.NAME, "Show", "Persons", new { id = actor.person.ID }, null)
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    </table>
