@model movieAdvisor.Models.PersonShow

@{
    if (Roles.IsUserInRole(User.Identity.Name, "admin"))
    {
        Layout = Url.Content("../Shared/_AdminLayout.cshtml");
    }
    ViewBag.Title = Model.person.NAME;
}

<table width="100%">
        <tr>
            <td width="100%" align="center">
                <div class="editor-label" style="display:inline">
                    <h2 style="display:inline">@Model.person.NAME</h2>
                    @{
                        if (Roles.IsUserInRole(User.Identity.Name,"admin"))
                        {
                            @Html.ActionLink("[Изменить]", "AddPerson", new { id = Model.person.ID })
                        }
                        if (Roles.IsUserInRole(User.Identity.Name,"admin"))
                        {
                            @Html.ActionLink(" [Удалить]", "DelPerson", new { id = Model.person.ID })
                        }
                    }
                </div>
            </td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td width="90%" valign="top">
                <table width="100%" valign="top">
                    <tr valign="top">
                        <td width="20%" align="center">
                            <div class="editor-poster" >
                                @{
                                    @:<img id="poster" src="@Url.Content("~/Uploads/" + Model.poster)"/ width="185" height="273" alt="@Model.altPoster">
                                }
                            </div>
                        </td>
                        <td width="80%">
                            <div class="editor-description">
                                <p>
                                    Описание:
                                </p>
                                <p>
                                    @Model.person.DESCRIPTION
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        Фото:
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan=2 align="center">
                            <div class="editor-glarey" style="display:inline" >
                                @{
                                    foreach(var pic in Model.picturesList)
                                    {
                                        <div class="editor-photo" style="display:inline" >
                                           <img id="photo" src="@Url.Content("~/Uploads/" + pic.PATH)"/ width="160" height="120" alt="@pic.TITLE">                          
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10%" align="center" valign="top">
                <div class="editor-persons">
                    @{
                        if (Model.moviesList.Count > 1)
                        {
                            <div class="editor-label">
                                 Фильмы:
                            </div>
                        }
                        else
                        if (Model.moviesList.Count > 0)
                        {
                            <div class="editor-label">
                                 Фильм:
                            </div>
                        }
                        foreach (var movie in Model.moviesList)
                        {
                            <div class="editor-poster" >
                                @{
                                    @:<img id="person" src="@Url.Content("~/Uploads/" + movie.picture.PATH)"/ width="90" height="130" alt="@movie.picture.TITLE">
                                }
                            </div>
                            <div class="editor-label">
                                 @Html.ActionLink(movie.movie.TITLE, "Show", "Movies", new { id = movie.movie.ID }, null)
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    </table>